<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="shadow p-3 mb-5 bg-white rounded">
      <h2>New User</h2>
      <%= form_tag url_for(action: "create"), method: "post",  :class => "form-group"%>

        <div class="field">
          <%= label_tag :"First name" %><br />
          <%= text_field_tag :first_name, nil, :class => 'form-control', :placeholder => "Your First Name" %>
        </div>

        <div class="field">
          <%= label_tag :"Last name" %><br />
          <%= text_field_tag :last_name, nil, :class => 'form-control', :placeholder => "Your Last Name" %>
        </div>
        <div class="field">
          <%= label_tag :Description %><br />
          <%= text_area_tag :description, nil, :class => 'form-control', :placeholder => "Your description here" %>
        </div>
          <%= submit_tag "Create", :class => "btn btn-success" %>
        </div>
    </div>
  </div>
</div>
</div>