<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="shadow p-3 mb-5 bg-white rounded">
      <h2>New Event</h2>
      <%= form_tag%>
        <div class="field">
          <%= label_tag :"Start Date" %><br />
          <%= date_field_tag :start_date %>
        </div>

        <div class="field">
          <%= label_tag :Duration %><br />
          <%= number_field_tag :duration %>
        </div>
        <div class="field">
          <%= label_tag :Description %><br />
          <%= text_field_tag :description %>
        </div>
        <div class="field">
          <%= label_tag :title %><br />
          <%= text_field_tag :title %>
        </div>
        
        <div class="field">
          <%= label_tag :price %><br />
          <%= number_field_tag :price%>
        </div>

        <div class="field">
          <%= label_tag :location %><br />
          <%= text_field_tag :location %>
        </div>
          <%= submit_tag "Create", :method => :post, :class => "btn btn-success" %>
        </div>
    </div>
  </div>
</div>
</div>