<div class="container">
	<%if @event.errors.any?%>
	There is some error here:
		<%@event.errors.full_messages.each do |message|%>
			<li><%=message%></li>	
		<%end%>
	<%end%>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="shadow p-3 mb-5 bg-white rounded">
      <h2>New Event</h2>
      <%= form_tag url_for(action: "create"), method: "post", :class => "form-group"%>
        <div class="field">
          <%= label_tag :"Start Date" %><br />
          <%= datetime_field_tag :start_date, nil, :class => 'form-control', :placehoder => "ex: 02/19/2019" %>
        </div>

        <div class="field">
          <%= label_tag :Duration %><br />
          <%= number_field_tag :duration, nil, :class => 'form-control', :placeholder => "ex: 30 minutes" %>
        </div>
        <div class="field">
          <%= label_tag :Description %><br />
          <%= text_area_tag :description, nil, :class => 'form-control', :placeholder => "the description" %>
        </div>
        <div class="field">
          <%= label_tag :title %><br />
          <%= text_field_tag :title, nil, :class => 'form-control', :placeholder => "The title" %>
        </div>
        
        <div class="field">
          <%= label_tag :price %><br />
          <%= number_field_tag :price, nil, :class => 'form-control', :placeholder => "ex: 5"%>
        </div>

        <div class="field">
          <%= label_tag :location %><br />
          <%= text_field_tag :location, nil, :class => 'form-control', :placeholder => "The location" %>
        </div>
          <%= submit_tag "Create", :class => "btn btn-success" %>
        </div>
    </div>
  </div>
</div>
</div>