<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New Event: <%=Event.find(@attend.event_id).title%> </p>
    <p> Date: <%=Event.find(@attend.event_id).start_date%> </p>
    <p>  Duration: <%=Event.find(@attend.event_id).duration%></p>
    <p>
      Attendant: <%=User.find(@attend.user_id).last_name%></p>
    <p>Maintenant tu a un nouveau événement via : <%= @url_for %>.
    </p>
    <p> À très vite sur zanfoana.com !</p>


  </body>
</html>