<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New Event: <%=Event.find(@attend.event_id).title%>
      Date: <%=Event.find(@attend.event_id).start_date%>
      Duration: <%=Event.find(@attend.event_id).duration%>
    </p>
    <p>
      Name: <%=User.find(@attend.user_id).last_name%>
      Maintenant tu a un nouveau événement via : <%= @url %>.
    </p>
    <p> À très vite sur zanfoana.com !


  </body>
</html>